<div class="demo">
    Start Date without pipe: {{startDate}}
</div>
<div class="demo">
    Start Date: {{startDate | date: 'MM/dd/yyyy'}}
</div>
<div class="demo">
    Title: {{titleExample}}  
</div>
<div class="demo">
    Title Upper: {{titleExample | uppercase}}
</div>
<div class="demo">
    Title Lower: {{titleExample | lowercase}}
</div>
<div class="demo">
    Title Capital: {{titleExample | titlecase}}
</div>
<div class="demo">
    Pi: {{ pi | number: '4.1-5'}} <!--Onde 3 é inteiro e .3-5 minímo de 3 digitos e máximo de 5 após a virgula-->
    Price: {{price | currency: 'GBP'}} 
    Rate: {{rate | percent}}
</div>
