<div class="top-menu">
    <img
        class="logo"
        src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png"
    />
</div>

<div class="demo">
    <div>Start Date: {{ startDate | date : "MMM/dd/yyyy" }}</div>
    <div>Uppercase: {{ title | uppercase }}</div>
    <div>Lowercase: {{ title | lowercase }}</div>
    <div>Titlecase: {{ title | titlecase }}</div>
    <div>Number: {{ price | number : "3.3-5" }}</div>
    <div>Currency: {{ price | currency : "EUR" }}</div>
    <div>Percentage: {{ price | percent }}</div>
</div>

{{ courses | json }}

<hr />

<div *ngFor="let pair of firstCourse | keyvalue">
    {{ pair.key + ": " + pair.value }}
</div>

<div class="courses">
    <course-card
        *ngFor="
            let course of courses | slice : 0 : 2;
            index as i;
            first as isFirst;
            last as isLast;
            even as isEven;
            odd as isOdd
        "
        [class.is-first]="isFirst"
        [class.is-last]="last"
        [class.is-even]="isEven"
        [class.is-odd]="isOdd"
        (courseSelected)="onCourseSelected($event)"
        [course]="course"
        [cardIndex]="i + 1"
    >
    </course-card>
</div>
