<div class="top-menu">
    <img
        class="logo"
        src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png"
    />
</div>

<div class="demo" *ngIf="false">
    <div>Start Date: {{ startDate | date : "MMM/dd/yyyy" }}</div>
    <div>Uppercase: {{ title | uppercase }}</div>
    <div>Lowercase: {{ title | lowercase }}</div>
    <div>Titlecase: {{ title | titlecase }}</div>
    <div>Number: {{ price | number : "3.3-5" }}</div>
    <div>Currency: {{ price | currency : "EUR" }}</div>
    <div>Percentage: {{ price | percent }}</div>
</div>

<ng-container *ngIf="false">
    {{ courses | json }}
    <hr />
</ng-container>

<div *ngFor="let pair of firstCourse | keyvalue">
    {{ pair.key + ": " + pair.value }}
</div>

<div class="courses" #containerRef>
    <ng-template #blankImage let-courseName="description">
        <p class="warn">{{ courseName }} has no image yet.</p>
        <img src="../../assets/empty-image.png" alt="empty image" />
    </ng-template>

    <!-- ngTemplateOutlet serve para "apresentar o conteúdo do ngTemplate" -->
    <ng-container
        *ngTemplateOutlet="
            blankImage;
            context: { description: firstCourse.description }
        "
    >
    </ng-container>

    <course-card
        #cardRef
        (courseSelected)="onCourseSelected($event)"
        [course]="firstCourse"
        [noImageTemplate]="blankImage"
    >
        <course-image [src]="firstCourse.iconUrl"></course-image>

        <h5>Some content that is not projected</h5>

        <div class="course-description">
            {{ firstCourse.longDescription }}
        </div>
    </course-card>
    <!-- <button (click)="onCoursesEdit()">Edit Courses</button> -->

    <!-- let course of courses | slice : 0 : 2    com esse pipe traria apenasos dois primeiro registros  -->
    <!-- <course-card
        *ngFor="
            let course of courses;
            index as i;
            first as isFirst;
            last as isLast;
            even as isEven;
            odd as isOdd
        "
        [class.is-first]="isFirst"
        [class.is-last]="last"
        [class.is-even]="isEven"
        [class.is-odd]="isOdd"
        (courseSelected)="onCourseSelected($event)"
        [course]="course"
        [cardIndex]="i + 1"
    >
    </course-card> -->
</div>
